<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--
    <title th:text="'List of Your stuff User: '+ ${#strings.defaultString(items[1].userId.username, 'No user')}|">List of your stuff</title>
   -->
    <title th:text="'List of stuff you can buy, User: '+ ${userId}">List of stuff you can buy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <!-- Bootstrap CSS from CDN
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 -->
     <link rel="stylesheet" type="text/css" href="styles.css" />

</head>


<body>
    <div class="container" style="width: 85%; min-width:900px; margin: top 0px; padding: 20px; padding-top: 0px; border: 2px solid #000">

        <table {padding-top: 0px}>
            <tr>
                <th>
                    <img src="/stufflog-logo.png" alt="Stufflog Logo" height="85">
                    <h2>&nbsp&nbsp &nbsp&nbsp</h2>
                </th>
                <td>
                <td>Welcome&nbsp</td>
                <th th:text="${useraccount.firstname}"></th>
                </td>
                <td>
                <td>
                    &nbsp&nbsp
                </td>

                </td>
                <td>
                    <a class="btn btn-dark" th:href="@{/logout}" method="post" >Logout</a> 
                </td>
                <td>
                    &nbsp
                </td>
                <td>
                    <a class="btn btn-outline-primary" th:href="@{'/stufflistuser/{id}'(id=${userId})}">Back to your list </a>
                </td>
                <td>
                    
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </td>
                <td th:text="'Other peoples items&nbsp'"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/rentlist/{id}'(id=${userId})}">Browse items for rent</a>
                </td>
                <td>
                    &nbsp&nbsp&nbsp
                </td>

          
                &nbsp&nbsp

                </td>
            </tr>
            <tr>
                <td class="width=100%">
                    
                </td>
           
            </tr>
            
        </table>
        <h3>These item are for sale</h3>
        <!--
    <h2 th:text="'&nbsp &nbspYour stuff  &nbsp('+ ${useraccount.username}+') '">&nbsp &nbsp Your
        stuff</h2>
-->
        <br>
        <table class="table table-striped">
            <tr>
                <th align="left"></th>
                <th align="left">Item</th>
                <th align="left">Descripton</th>
                <th align="left">Size</th>
                <th align="left">Price</th>
                <th align="left"></th>
                <th align="left">Category</th>
                <th align="left">Contact</th>

      
         
            </tr>
            <tr th:each="rentitem : ${rentItems}">
                <td></td>
                <td>
                    <a th:href="@{'/showitem/{itemId}/{userId}'(itemId=${rentitem.itemIdLong},userId=${userId})}" th:text="${rentitem.itemName}"></a>
                </td>
               
                <td th:text="${rentitem.itemDescription}"></td>
               <td th:text="${#strings.defaultString(rentitem.sizeOfString, 'No Size')}"></td>
                  <td th:text="${#strings.defaultString(rentitem.salePrice + '€', 'Not defined')}">€/day</td>
                <td></td>
              <td th:text="${#strings.defaultString(rentitem.categoryName, 'No Category')}"></td>
              <td th:text="${#strings.defaultString(rentitem.itemOwnerEmail, 'No Contact')}">
  <!--
                    th:text="${rentitem.subCategories != null and not #lists.isEmpty(rentitem.subCategories) ? item.subCategories[0].subCategoryName : 'No Subcategory!'}">
    -->         
                </td>

<!--
                <td th:text="${#strings.defaultString(item.state?.stateName, 'No State')}"></td>
                <!--
                <td><a type="button" class="btn btn-success"
                        th:href="@{'/rent/{userID}/{id}'(userID=${userId}, id=${item.itemId})}">Rent</a></td>
                       -->
                <!--               <td><a type="button" class="btn btn-primary" th:href="@{'/edit/{id}'(id=${item.id})}">Edit</a></td>
-->
            </tr>
        </table>

        <br>

        &nbsp;<a class="btn btn-outline-primary" th:href="@{{id}(id=${userId})}">Refresh list </a>
        &nbsp;&nbsp;
      
        <!--
&nbsp;<a class="btn btn-outline-primary" href="/stufflist">Refresh list </a> &nbsp;&nbsp; <a
class="btn btn-success" th:href="@{'/additem/{id}'(id=${items[1].userId.username})}"> Add new stuff </a>
-->
    </div>
</body>

</html>