<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Edit book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



    <style>
        form {
            margin-left: 5px;
        }

        h1 {
            margin-left: 5px;
        }
    </style>
</head>

<body>
    <h1> Your item </h1>


    <form action="#" th:action="@{/putitem/{userId}/{id}(userId=${userId},id=${item.itemId})}" th:object="${item}"
        method="post">
        <input type="hidden" th:field="*{itemId}" class="form-control" />
        <table>
            <tr>
                <th align="right">Item</th>
                <th align="left">
                    <input size="30" type="text" th:field="*{itemName}" />
                    <div th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}">Error</div>
                </th>
            </tr>
            <tr>
                <th align="right">Description</th>
                <th align="left">
                    <input size="30" type="text" th:field="*{description}" />
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</div>
                </th>
            </tr>
            <tr>
                <th align="right">Category</th>
                <th align="left">
                    <select id="catlist" th:field="*{category}" class="form-control">
                        <option th:each="category: ${categories}" th:value="${category.categoryId}"
                            th:text="${category.categoryName}">
                        </option>
                    </select>
                </th>
                <th align="right"><a href="/addcategory" target="_blank">Add New Category</a> </th>
                </th>
            </tr>
            <tr>
                <th align="right">Location</th>
                <th align="left">
                    <select id="loclist" th:field="*{location}" class="form-control">
                        <option th:each="location: ${locations}" th:value="${location.locationId}"
                            th:text="${location.locationName}">
                        </option>
                    </select>
                </th>
                <th align="right"><a href="/addlocation" target="_blank">Add New Location</a> </th>
            </tr>
            <tr>
                <th align="right">Size</th>
                <th align="left">
                    <select id="sizelist" th:field="*{sizeof}" class="form-control">
                        <option th:each="size: ${sizeofs}" th:value="${size.sizeofId}" th:text="${size.sizeName}">
                        </option>
                    </select>
                </th>
                <th align="right"><a href="/addsize" target="_blank">Add New Size</a> </th>
            </tr>
            <tr>
                <th align="right">Condition</th>
                <th align="left">
                    <select id="conditionlist" th:field="*{condition}" class="form-control">
                        <option th:each="cond: ${conditions}" th:value="${cond.conditionId}"
                            th:text="${cond.condition}">
                        </option>
                    </select>
                </th>
            </tr>
            <tr>
                <th align="right">State</th>
                <th align="left">
                    <select id="statelist" th:field="*{state}" class="form-control">
                        <option th:each="stat: ${states}" th:value="${stat.stateId}" th:text="${stat.stateName}">
                        </option>
                    </select>
                </th>
            </tr>
            <tr>
                <th align="right">Purchase price</th>
                <th align="left">
                    <input size="10" step="0.01" type="text" th:field="*{purchaseprice}" />
                    <div th:if="${#fields.hasErrors('purchaseprice')}" th:errors="*{purchaseprice}">Error</div>
                </th>
            </tr>
            <tr>
                <th align="right">Selling price</th>
                <th align="left">
                    <input size="10" step="0.01" type="text" th:field="*{price}" />
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
                </th>
            </tr>
            <tr>
                <th align="right">Rental price (per day)</th>
                <th align="left">
                    <input size="10" step="0.01" type="text" th:field="*{rentalprice}" />
                    <div th:if="${#fields.hasErrors('rentalprice')}" th:errors="*{rentalprice}">Error</div>
                </th>
            </tr>
            <tr>
                <th align="right"></th>
                <th></th>
            </tr>
            <tr>
                <th align="right"></th>
                <th></th>
            </tr>





        </table>
        <p>

        </p>


        <input class="btn btn-success" type="submit" value="Save Item" />
    </form>



</body>

</html>