<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>


    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Edit Item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



    <style>
        form {
            margin-left: 5px;
        }

        h1 {
            margin-left: 5px;
        }
    </style>


</head>

<body>
    <br>
    <h2 th:text="${item.itemName} "></h2>

    <br>
    <table class="table table-striped">
        <tr th:each="item : ${items}">
       
        </tr>
        <tr>
            
            <td align="left">Item</td>
            <td th:text="${item.itemName}"></td>
        </tr>
        <tr>
            <td align="left">Description</td>
            <td th:text="${item.description}"></td>
        </tr>
        <tr>
            <td align="left">Size</td>
            <td th:text="${#strings.defaultString(item.sizeof?.sizeName, 'No Size')}"></td>
        </tr>
        <tr>
            <td aling="left">State</td>
            <td th:text="${#strings.defaultString(item.state?.stateName, 'No State')}"></td>
        </tr>
        <tr>
            <td align="left">Rental price</td>
            <td th:text="${item.rentalprice}"></td>
        </tr>
        <tr>
            <td align="left">Condition</td>
            <td th:text="${#strings.defaultString(item.condition?.condition,'Not defined')}"></td>
        </tr>
    </table>

        <p>

        </p>


        &nbsp;<a class="btn btn-outline-primary" th:href="@{'/rentlist/{id}'(id=${yourId})}">Back to rental list </a>
        &nbsp;&nbsp;
    </form>



</body>

</html>