<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--
    <title th:text="'List of Your stuff User: '+ ${#strings.defaultString(items[1].userId.username, 'No user')}|">List of your stuff</title>
   -->
    <title th:text="'List of Your stuff User: '+ ${userId}">List of your stuff</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <!-- Bootstrap CSS from CDN
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 -->
     <link rel="stylesheet" type="text/css" href="styles.css" />

</head>


<body>
    <div class="container" style="width: 85%; margin-top:15px; padding: 20px; border: 2px solid #000">

        <table>
            <tr>
                <th>
                    <h2>HAVIKO &nbsp&nbsp &nbsp&nbsp</h2>
                </th>
                <td>
                <td>Welcome&nbsp</td>
                <th th:text="${useraccount.username}"></th>
                </td>
                <td>
                <td>
                    &nbsp&nbsp
                </td>

                </td>
                <td>
                    <a class="btn btn-dark" th:href="@{/logout}" method="post" >Logout</a> 
                </td>
                <td>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </td>
                <td th:text="'Other peoples items&nbsp'"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{'/rentlist/{id}'(id=${userId})}">Browse items for rent</a>
                    
                </td>
                <td>
                    &nbsp&nbsp&nbsp
                </td>

                <td>
                    <a class="btn btn-info" th:href="@{'/salelist/{id}'(id=${userId})}">Browse items for sale</a>
                </td>
                &nbsp&nbsp

                </td>
            </tr>
            <tr>
            </tr>
        </table>
        <!--
    <h2 th:text="'&nbsp &nbspYour stuff  &nbsp('+ ${useraccount.username}+') '">&nbsp &nbsp Your
        stuff</h2>
-->
        <br>
        <table class="table table-striped">
            <tr>
                <th align="left"></th>
                <th align="left">Item</th>
                <th align="left">Descripton</th>
                <th align="left">Size</th>
                <th align="left">Location</th>
                <th align="left">Location info</th>
                <th align="left">Category</th>
                <th align="left">SubCategory</th>
                <th align="left">State</th>

                <th align="left"></th>
         
            </tr>
            <tr th:each="item : ${items}">
                <td></td>
                <td>
                    <a th:href="@{'/edititem/{id}'(id=${item.itemId})}" th:text="${item.itemName}"></a>
                </td>
                <td th:text="${item.description}"></td>
                <td th:text="${#strings.defaultString(item.sizeof?.sizeName, 'No Size')}"></td>
                <td th:text="${#strings.defaultString(item.location?.locationName, 'No Location')}"></td>
                <td th:text="${item.locationinfo}"></td>
                <td th:text="${#strings.defaultString(item.category?.categoryName, 'No Category')}"></td>
                <td
                    th:text="${item.subCategories != null and not #lists.isEmpty(item.subCategories) ? item.subCategories[0].subCategoryName : 'No Subcategory!'}">
                </td>


                <td th:text="${#strings.defaultString(item.state?.stateName, 'No State')}"></td>
                <td><a type="button" class="btn btn-danger"
                        th:href="@{'/delete/{userID}/{id}'(userID=${userId}, id=${item.itemId})}">Delete</a></td>
                <!--               <td><a type="button" class="btn btn-primary" th:href="@{'/edit/{id}'(id=${item.id})}">Edit</a></td>
-->
            </tr>
        </table>

        <br>

        &nbsp;<a class="btn btn-outline-primary" th:href="@{{id}(id=${userId})}">Refresh list </a>
        &nbsp;&nbsp;
        <a class="btn btn-success" th:href="@{'/additem/{id}'(id=${userId})}">Add new stuff</a>
        <!--
&nbsp;<a class="btn btn-outline-primary" href="/stufflist">Refresh list </a> &nbsp;&nbsp; <a
class="btn btn-success" th:href="@{'/additem/{id}'(id=${items[1].userId.username})}"> Add new stuff </a>
-->
    </div>
</body>

</html>